@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.bmiCal {
  background: linear-gradient(
    90deg,
    rgba(247, 255, 254, 1) 40%,
    rgba(0, 142, 181, 0.4) 120%
  );
}
.tddobg {
  background: rgb(247, 255, 254);
  background: linear-gradient(
    90deg,
    rgba(247, 255, 254, 1) 0%,
    rgba(208, 232, 220, 1) 22%,
    rgba(166, 240, 203, 1) 61%
  );
}

input:focus {
  border: none;
  outline: none;
  background-color: transparent;
}
input:hover {
  border: none;
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
}
/* .Input:hover {
  animation: 2s ease-in-out 0s shake;
  animation-iteration-count: 1;
}
@keyframes shake {
  from {
    transform: translateX(0);
    border-color: #54c5eb;
    border-width: 2px;
    filter: brightness(75%);
    background-color: transparent;
  }
  to {
    transform: translateX(1vw);
    border-color: #54c5eb;
    border-width: 2px;
    filter: brightness(75%);
    background-color: transparent;
  }
} */

.buttonDiv {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}
